{% extends 'base.html.twig' %}

{# Je récupère le header et le footer et l'emplacement du content #}
{% block content %}

    <main>
        <section>

            {# J'effectue j'affiche le contenu d'un article de l'array #}
            {# image, title et content #}

            <img src="{{ article.image }}" alt="image" class="img"/>
            <h1 class="center">{{ article.title }}</h1><br />
            <p class="center">{{ article.content }}</p>

        </section>
    </main>

{% endblock content %}