{% extends 'base.html.twig' %}

{% block title %}Les Articles{% endblock %}

{# Je récupère le header et le footer et l'emplacement du content #}
{% block content %}
    <main>

    <section>


        {# J'effectue une boucle qui interroge tous les articles de l'array et affiche les images et les titles #}
        {# J'effectue le lien vers la page d'un'article #}

        {% for article in articles %}

            <div class="container">
                <div class="container-content"><img src="{{ article.image }}" alt="image" class="img"/></div>
                {# J'effectue le lien vers la page d'un article #}
                <a href="{{ path('article_page', {'id': article.id}) }}"><div class="container-content">{{ article.title }}</div></a>
            </div>

        {% endfor %}

    </section>


    </main>



{% endblock content %}